<div class="container">
    <div class="innner-container">
        <b>Support</b> <br>
        The API and site will always remain free at point of access. If you love our service and want extra features you can sign up as a <a href="https://www.paypal.com/webapps/billing/plans/subscribe?plan_id=P-5A138037KG443451XMHIZ3SY">Paypal supporter</a>  <br>
        You can cancel anytime. This allows us to pay for the servers and bandwidth and develop new features. <br>
        <br>
        
         <b>Test API Keys</b> <br>
        You can use the test API key "1" during development of your app or for educational use(see test links below) <br>
        However you must become a supporter if releasing publicly on an appstore. <br>
        The test key may be revoked at any time if abused. <br>
        <br>

        <b>API Production Key Upgrade</b> <br>
        All supporters have access to the beta version of the API which allows mutiple ingredient filters. <br>
        You also get access to adding your own meals and images. You can also list the full database rather than limited to 100 items. <br>
        Please sign up on Paypal and we will email you the upgrade. <br>
        <br>
        
        <b>Contact</b>  <br>
        Email: thedatadb@gmail.com (please state if you are a Paypal Supporter) <br>
        <br>
                
        <b>API Methods using the developer test key '1' as the API key</b> <br>
        <br>
        
        <i>Search meal by name</i> <br>
        <a class="data-link" href="www.themealdb.com/api/json/v1/1/search.php?s=Arrabiata">www.themealdb.com/api/json/v1/1/search.php?s=Arrabiata</a> <br>

        <i>List all meals by first letter</i> <br>
        <a class="data-link" href="www.themealdb.com/api/json/v1/1/search.php?f=a">www.themealdb.com/api/json/v1/1/search.php?f=a</a> <br>

        <i>Lookup full meal details by id</i> <br>
        <a class="data-link" href="www.themealdb.com/api/json/v1/1/lookup.php?i=52772">www.themealdb.com/api/json/v1/1/lookup.php?i=52772</a> <br>

        <i>Lookup a single random meal</i> <br>
        <a class="data-link" href="www.themealdb.com/api/json/v1/1/random.php">www.themealdb.com/api/json/v1/1/random.php</a> <br>

        <i>Lookup a selection of 10 random meals (only available to <a href="https://www.paypal.com/webapps/billing/plans/subscribe?plan_id=P-5A138037KG443451XMHIZ3SY">Paypal supporters</a>)</i> <br>
        <a class="data-link" href="www.themealdb.com/api/json/v1/1/randomselection.php">www.themealdb.com/api/json/v1/1/randomselection.php</a> <br>

        <i>List all meal categories</i> <br>
        <a class="data-link" href="www.themealdb.com/api/json/v1/1/categories.php">www.themealdb.com/api/json/v1/1/categories.php</a> <br>

        <i>Latest Meals (only available to <a href="https://www.paypal.com/webapps/billing/plans/subscribe?plan_id=P-5A138037KG443451XMHIZ3SY">Paypal supporters</a>)</i><br>
        <a class="data-link" href="www.themealdb.com/api/json/v1/1/latest.php">www.themealdb.com/api/json/v1/1/latest.php</a><br>

        <i>List all Categories, Area, Ingredients</i> <br>
        <a class="data-link" href="www.themealdb.com/api/json/v1/1/list.php?c=list">www.themealdb.com/api/json/v1/1/list.php?c=list</a> <br>
        <a class="data-link" href="www.themealdb.com/api/json/v1/1/list.php?a=list">www.themealdb.com/api/json/v1/1/list.php?a=list</a> <br>
        <a class="data-link" href="www.themealdb.com/api/json/v1/1/list.php?i=list">www.themealdb.com/api/json/v1/1/list.php?i=list</a> <br>

        <i>Filter by main ingredient</i> <br>
        <a class="data-link" href="www.themealdb.com/api/json/v1/1/filter.php?i=chicken_breast">www.themealdb.com/api/json/v1/1/filter.php?i=chicken_breast</a> <br>

        <i>Filter by multi-ingredient (only available to <a href="https://www.paypal.com/webapps/billing/plans/subscribe?plan_id=P-5A138037KG443451XMHIZ3SY">Paypal supporters</a>)</i> <br>
        <a class="data-link" href="www.themealdb.com/api/json/v1/1/filter.php?i=chicken_breast,garlic,salt">www.themealdb.com/api/json/v1/1/filter.php?i=chicken_breast,garlic,salt</a> <br>

        <i>Filter by Category</i> <br>
        <a class="data-link" href="www.themealdb.com/api/json/v1/1/filter.php?c=Seafood">www.themealdb.com/api/json/v1/1/filter.php?c=Seafood</a> <br>

        <i>Filter by Area</i> <br>
        <a class="data-link" href="www.themealdb.com/api/json/v1/1/filter.php?a=Canadian">www.themealdb.com/api/json/v1/1/filter.php?a=Canadian</a> <br>
        <br>

        <b>Images</b> <br>
        <b>Meal Thumbnail Images</b> <br>
        Add <b>/preview</b> to the end of the meal image URL <br>
        /images/media/meals/llcbn01574260722.jpg/preview <br>

        <b>Ingredient Thumbnail Images</b> <br>
        <a class="data-link" href="www.themealdb.com/images/ingredients/Lime.png">www.themealdb.com/images/ingredients/Lime.png</a> <br>
        <a class="data-link" href="www.themealdb.com/images/ingredients/Lime-Small.png">www.themealdb.com/images/ingredients/Lime-Small.png</a>  <br>
    </div>

</div>