nav{
    background-color: #23180d;
    padding-top: 20px;
    width: 100%;
}

ul{
    margin: 0px;
    padding: 0;
}

li{
    text-align: center;
    display: inline-block;
    margin-left: 35px;
    list-style: none;
    padding-bottom: 30px;
    margin-bottom: 0px;
}

a{
    text-decoration: none;
    padding: 8px 12px;
    color: white;
}

input{
    height: 27px;
    width: 110px;
}



// Class Selector
.container{
    // margin-top: 15px;
    width: 76%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    padding: 10px 10px 0px;
}

.nav-list{
padding: 0px 20px;
margin-right: 20px;
}

.active{
    background-color: red;
    padding: 8px 0px;
    border-radius: 3px;
}

.toggle{
    display: none;
}


@media only screen and (max-width: 1000px){
    nav{
        background-color: #23180d;
        padding-top: 10px;
        width: 100%;
        border-bottom: 1px solid white;
    }

    .container{
        width: 100%;
    }

    .logo{
        width: 50%;
    }

    .nav-list{
    display: none;
    }

    .toggle{
    display: block;
    margin-top: 19px;
    margin-right: 25px;
    }
}