// // Tag Selectors

nav {
  background-color: #23180d !important; 
  padding-top: 20px;
  width: 100%;
}



li {
  text-align: center;
  display: inline-block;
  margin-bottom: 0px;
  margin-left: 20px;
}


input {
  margin-top: 5px;
  height: 33px;
  width: 110px;
}

// // Class Selectors

.container {
  width: 78%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
}


.active {
  background-color: red;
  border-radius: 3px;
}

.collapse{
  margin-left: 50%;
}

.api{
  border-radius: 3px;
  transition: background-color 0.5s;
}

.api:hover {
  background-color: red;
}

.navbar-brand{
  margin-right: 0;
}


@media only screen and (max-width: 1000px) {
  .container {
    width: 100%;
  }

  .collapse{
    margin: auto;
  }

  li{
    margin-left: 0;
  }
}
