#footer{
    margin-top: 30px;
    background-color: #23180d;
}

p{
    margin: 0px auto 20px;
}

i{
    margin: auto 4px;
}
a{
    color: white;
}

.social{
    text-align: center;
    width: 60%;
}

.footer-container{
    margin-top: 10px;
    text-align: center;
    color: white;
    width: 78%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    padding-top: 30px;
    padding-bottom: 30px;
}

.copyright{
    text-align: start;
    width: 20%;
}

.contact{
    width: 20%;
}

.contact a{
    display: inline-block;
    padding: 0px 8px;
    align-items: flex-start;
    text-decoration: none;
    color: white;
}

@media only screen and (max-width: 1000px) {
    .footer-container{
        width: 100%;
        display: block;
    }

    .contact{
        margin-top: 20px;
        width: 100%;
        margin-bottom: 20px;
    }

    .copyright{
        text-align: center;
        width: 100%;
    }

    .social{
        margin-top: 20px;
        text-align: center;
        width: 100%;
    }
}

