<div id="footer">
    <div class="footer-container">
        <div class="copyright">© 2023 TheMealDB <br>Proudly built in the UK</div>
        <div class="social">
            <p>Socials: 
                <a href=""><i class="fa-brands fa-facebook"></i></a> 
                <a href=""><i class="fa-brands fa-x-twitter"></i></a>  
                <a href=""><i class="fa-brands fa-discord"></i></a>   
            </p>

            <img src="https://www.themealdb.com/images/logo-tcdb.png" alt="">
            <img src="https://www.themealdb.com/images/logo-tadb.png" alt="">
            <img src="https://www.themealdb.com/images/logo-tsdb.png" alt="">
        </div>
        <div class="contact">
            <a href="https://fatomi02.github.io/My-Portfolio/" target="_blank">About</a>
            <a href="https://fatomi02.github.io/My-Portfolio/#aboutme" target="_blank">Faq</a>
            <a href="https://fatomi02.github.io/My-Portfolio/#contact" target="_blank">Contact</a>
        </div>
    </div>
    </div>