// Tag Selectors

h4 {
  margin-top: 0px;
}

img {
  width: 100%;
  object-fit: contain;
  overflow: hidden;
  height: 250px;
}

a {
  color: #d57d1f;
  transition: color 300ms, background-color 300ms;
  text-decoration: none;
}

a:hover {
  color: #f0a350;
  background-color: transparent;
}

hr {
  margin-top: 40px;
  border: 1px solid white;
  width: 98%;
}

// Class Selectors

.popular-container {
  margin-top: 30px;
  text-align: center;
  color: white;
  width: 78%;
  margin-left: auto;
  margin-right: auto;
}

.popular-div {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 98%;
  margin: auto;
}

.popular-items {
  width: 280px;
  height: 300px;
  color: white;
  margin: auto;
}


@media only screen and (max-width: 1000px) {
  .popular-container{
    width: 100%;
  }
  
  hr{
    width: 94%;
  }
}